
models/weapons/quake4/v_q4_shotgun.dx80.vtx
models/weapons/quake4/v_q4_shotgun.dx90.vtx
models/weapons/quake4/v_q4_shotgun.mdl
models/weapons/quake4/v_q4_shotgun.sw.vtx
models/weapons/quake4/v_q4_shotgun.vvd
